.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  background-color: var(--color-nav-bg);
  height: 3vh;

  .nextLink {
    text-decoration: none;
    color: var(--color-text-on-dark);

    &:hover {
      color: var(--color-link-hover);
    }
  }
}