.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  background-color: grey;
  height: 3vh;

  .nextLink {
    text-decoration: none;
    color: black;

    &:hover {
      color: lightskyblue;
    }
  }
}